{% extends 'blog/base.html' %}
{% load custom_tags %}
{% block content %}
{% load mathfilters %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
	  	<div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
	      <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
	      {% if object.author == user %}
	      	<div>
	      		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
	      		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
	      	</div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content|safe }}</p>
	  </div>
	</article>
    <p>
    	{% if post.reviews.count %}
			<small class="text-muted">Current Rating: {{ post.review_star|div:post.reviews.count|floatformat:2 }}</small>
		{% else %}
		    <small class="text-muted">No rating yet!</small>
		{% endif %}
		{% if user.is_authenticated %}
		  <form class="starRating">
			<input id="rating5" type="radio" name="rating" value="5">
			<label for="rating5">5</label>
			<input id="rating4" type="radio" name="rating" value="4">
			<label for="rating4">4</label>
			<input id="rating3" type="radio" name="rating" value="3">
			<label for="rating3">3</label>
			<input id="rating2" type="radio" name="rating" value="2" checked>
			<label for="rating2">2</label>
			<input id="rating1" type="radio" name="rating" value="1">
			<label for="rating1">1</label>
			<p><button type="submit" class="btn btn-outline-info">Rate</button></p>
		  </form>
			</p>
			<p><input id="starGet" type="button" class="btn btn-outline-info" value="Rate" /></p>
			{% if user.reviews_authors.all|user_post_review_check:post.id %}
				<small class="text-muted">You have already rated this article!
					<br>Note: New rating will overwrite your previous result!</small>
			{% else %}
				{% if post.reviews.count %}
					<small class="text-muted">You have not rated this article yet!</small>
				{% endif %}
			{% endif %}
		{% else %}
			</p>
			<small class="text-muted">Log In to rate this article.</small>
		{% endif %}
	<hr>
	<h3>Comments:</h3>
	{% if is_paginated %}
		<ul class="comment-list">
			{% for comment in object_list %}
				{% if comment.related_to_comment_id == 0 %}
	            	<li class="comment">
	                	{% include "blog/comment.html" %}
	            	</li>
	            {% endif %}
			{% endfor %}
		</ul>
		<br>
		{% if page_obj.has_previous %}
			<a class='btn btn-outline-info mb-4' href="?page=1">First</a>
			<a class='btn btn-outline-info mb-4' href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif%}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class='btn btn-info mb-4' href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class='btn btn-outline-info mb-4' href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<a class='btn btn-outline-info mb-4' href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class='btn btn-outline-info mb-4' href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif%}
	{% else %}
		{% for comment in object_list %}
			<ul>
				{% if comment.related_to_comment_id == 0 %}
	            	<li class="comment">
	                	{% include "blog/comment.html" %}
	            	</li>
	            {% endif %}
        	</ul>
        {% empty %}
			<p>No comments yet. Be the first!</p>
		{% endfor %}
	{% endif %}
	{% if user.is_authenticated %}
		{% if page_obj.paginator.num_pages == page_obj.number %}
			<br><a class="btn btn-outline-info" href="{% url 'add-comment-to-post' pk=post.pk %}">Add comment</a>
			<br><br>
		{% endif %}
	{% else %}
		<br><strong>Only logged in users are allowed to leave comments.</strong>
		<hr>
	{% endif %}
{% endblock content %}